<div class="row">
  
    <div class="col-sm-6" *ngIf="vacinaSelecionada">
      <app-titulo [titulo]="(vacinaSelecionada?.id == 0 ? 'Novo vacina' : 'Vacina: ' + vacinaSelecionada?.nome)">
        <button class="btn btn-sm btn-danger" (click)="voltar()">Fechar</button>
      </app-titulo>
        
  
      <form [formGroup]="vacinaForm" (submit)="vacinaSubmit()">
        <div class="form-group">
          <label for="formGroupExampleInput">Nome</label>
          <input type="text" formControlName="nome" class="form-control">
          <!-- <input type="text" value="{{vacinaSelecionada.nome}}" class="form-control"> -->
        </div>
        <div class="form-group" >
          <label for="formGroupExampleInput2">Período Dose</label>
          <input type="text" formControlName="periodoDose" class="form-control">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Tipo Intervalo</label>
          <input type="text" formControlName="tipoIntervalo" class="form-control">
        </div>
        <div class="form-group">
          <hr>
            <button class="btn btn-sm btn-success" [disabled]="!vacinaForm.valid">Enviar</button>
        </div>
      </form>
    </div>
    
    <div [ngClass]="{'col-sm-6': vacinaSelecionada, 'col-sm-12': !vacinaSelecionada}" >
      <app-titulo [titulo]="titulo">
        <button class="btn btn-outline-success">Cadastrar Vacina</button>
        <!-- <button class="btn btn-outline-success" (click)="vacinaNova()">Cadastrar Vacina</button> -->
      </app-titulo>
      <table class="table table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Visualizar</th>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Período Dose</th>
            <th scope="col">Tipo Intervalo</th>
            <th scope="col">Opções</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vacina of vacinas" >
            <td><button (click)="vacinaSelected(vacina)" class="btn btn-sm btn-warning">Detalhe</button></td>
            <td scope="row">{{vacina.id}}</td>
            <td>{{vacina.nome}}</td>
            <td>{{vacina.periodoDose}}</td>
            <td>{{vacina.tipoIntervalo}}</td>
            <td>
              <div class="btn-group">
                <!-- <button (click)="openModal(template)" class="btn btn-sm btn-primary">Professores</button> -->
                <button class="btn btn-sm btn-danger" (click)="deletarVacina(vacina.id)">Desativar</button>
              </div>
            </td>
          </tr>
  
        </tbody>
      </table>
    </div>
  </div>
  
  <!-- <ng-template #template>
    
    <div class="modal-body">
      <app-professores></app-professores>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn pull-right" aria-label="Close" (click)="modalRef.hide()">
        FECHAR
      </button>
    </div>
  </ng-template> -->